{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="text-center p-4">Dashboard</h1>

{% if request.user.is_superuser %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Lodge Date</th>
        <th scope="col">Police Station</th>
      </tr>
    </thead>
    <tbody>
        {% for station in all_stations %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ complaint.description }}</td>
        <td>{{ complaint.status }}</td>
        <td>{{ complaint.created_at }}</td>
        <td>{{ complaint.p_id.police_station_name }}</td>
    </tr>
        {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}