{% extends "base.html" %}

{% block title %}Criminal Details{% endblock %}

{% block content %}

<div class="card mx-auto my-5 p-4 col-6">
    <h2 class='mb-4'>Criminal Details</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">Status</th>
            <th scope="col">Level</th>
            <th scope="col">Picture</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
            {% for criminal in queryset %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ criminal.name }}</td>
            <td>{{ criminal.age }}</td>
            <td>{{ criminal.gender }}</td>
            <td>{{ criminal.height }}</td>
            <td>{{ criminal.weight }}</td>
            <td>{{ criminal.status }}</td>
            <td>{{ criminal.age }}</td>
            <td> <img src="{{ criminal.criminal_picture.url }}" alt="{{ criminal.name }} Picture"> </td>
            <td>
                <a href="{% url 'edit_criminal' criminal.id %}" class="btn btn-primary">Edit</a>
                {% comment %} <a href="{% url 'delete_criminal' criminal.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}